---
import Layout from '@layouts/Index.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'
import CardSlim from '@components/CardSlim.astro'
import * as siteData from '@data/site.json'

const category = 'photography'

const unsortedFeaturedPosts = await getCollection('posts', ({ data }) => {
  return (
    data.draft !== true && data.featured == true && data.category == category
  )
})

const featuredPosts = unsortedFeaturedPosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

const unsortedAllPosts = await getCollection('posts', ({ data }) => {
  return (
    data.draft !== true && data.featured !== true && data.category == category
  )
})

const allPosts = unsortedAllPosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  pageTitle: string
  category: string
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const mainClass = 'container'
const bodyClass = category + ' black'
const pageDesc = siteData.description_photography
---

<Layout
  pageTitle={category}
  bodyClass={bodyClass}
  mainClass={mainClass}
  category={category}
  pageDesc={pageDesc}
  ogImage='../og_webdesign.jpg'
>
  <p slot='header' class='center'>Pretty Cool Photography projects.</p>
  <div class='posts'>
    {
      featuredPosts.map((post) => (
        <a
          class='post'
          href={`/${category}/${post.slug}`}
          title={post.data.year + '-' + post.data.year2}
        >
          <Card title={post.data.title} image={post.data.images[0]} />
        </a>
      ))
    }
  </div>

  <hr />

  <div class='all_posts'>
    {
      allPosts.map((post) => (
        <a
          class='post'
          href={`/${category}/${post.slug}`}
          title={post.data.year + '-' + post.data.year2}
        >
          <CardSlim title={post.data.title} />
        </a>
      ))
    }
  </div>
</Layout>
<style lang='scss'>
  .post {
    //a
    text-decoration: none;
  }
  .all_posts .post {
    display: block;
    border-bottom: 1px solid black;
    .card:has(h2) {
      margin-top: 0 !important;
    }
  }
  h1 span {
    opacity: 0.5;
  }
</style>
