---
import Layout from '@layouts/Index.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'
import CardSlim from '@components/CardSlim.astro'
import CardButton from '@components/CardButton.astro'
import * as siteData from '@data/site.json'

const category = 'photography'

const unsortedFeaturedPosts = await getCollection('posts', ({ data }) => {
  return (
    data.draft !== true && data.featured == true && data.category == category
  )
})

const featuredPosts = unsortedFeaturedPosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

const unsortedsortedPosts = await getCollection('posts', ({ data }) => {
  return (
    data.draft !== true && data.featured !== true && data.category == category
  )
})

const sortedPosts = unsortedsortedPosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  pageTitle: string
  category: string
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
  pickedTags: string | null | any
}

const mainClass = 'container'
const bodyClass = category + ' black'
const pageDesc = siteData.description_photography
const pickedTags = 'photography'

console.log(pickedTags)

const relatedPosts = await getCollection('posts', ({ data }) => {
  return (
    data.draft !== true && data.category !== category && data.featured == true
  )
})

// console.log(relatedPosts)
console.log(relatedPosts.length)
---

<Layout
  pageTitle={category}
  bodyClass={bodyClass}
  mainClass={mainClass}
  category={category}
  pageDesc={pageDesc}
  ogImage='../og_webdesign.jpg'
>
  <p slot='header' class='center'>Pretty Cool Photography projects.</p>
  <div class='posts featured'>
    {
      featuredPosts.map((post) => (
        <a
          class='post'
          href={`/${category}/${post.slug}`}
          title={post.data.year + '-' + post.data.year2}
        >
          <Card title={post.data.title} image={post.data.images[0]} />
        </a>
      ))
    }
  </div>

  <hr />

  <div class='posts all_posts'>
    <details>
      <summary role='button' class='contrast outline centre sticky'
        >MORE PHOTOGRAPHY WORKS</summary
      >
      <div class='posts'>
        {
          sortedPosts.map((post) => (
            <a
              class='post allpost'
              href={`/${category}/${post.slug}`}
              title={post.data.year + '-' + post.data.year2}
            >
              <CardSlim title={post.data.title} />
            </a>
          ))
        }
      </div>
    </details>
  </div>

  <div class='all_posts related'>
    <details>
      <summary role='button' class='contrast outline centre sticky'
        >RELATED WORKS</summary
      >
      <div class='posts'>
        {
          relatedPosts.map((post) => (
            <a
              class='post '
              href={`../${category}/${post.slug}`}
              title={post.data.year + '-' + post.data.year2}
            >
              <CardButton
                title={post.data.title}
                category={post.data.category}
              />
            </a>
          ))
        }
      </div>
    </details>
  </div>
</Layout>
<style lang='scss'></style>
