---
import Layout from '@layouts/Index.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'
import * as siteData from '@data/site.json'

const category = 'photography'

const unsortedPosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.category == category
})

const posts = unsortedPosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toLocaleString()) -
    Date.parse(a.data.year.toLocaleString())
)

export interface Props {
  pageTitle: string
  category: string
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const mainClass = 'container'
const bodyClass = category + ' black'
const pageDesc = siteData.description_photography
---

<Layout
  pageTitle={category}
  bodyClass={bodyClass}
  mainClass={mainClass}
  category={category}
  pageDesc={pageDesc}
  ogImage='../og_webdesign.jpg'
>
  <p slot='header' class='center'>Pretty Cool Photography projects.</p>
  <div class='posts'>
    {
      posts.map((post) => (
        <a class='post' href={`/${category}/${post.slug}`}>
          <Card title={post.data.title} image={post.data.images[0]} />
        </a>
      ))
    }
  </div>
</Layout>
<style lang='scss'>
  .post {
    text-decoration: none;
  }
  h1 span {
    opacity: 0.5;
  }
</style>
