---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Index.astro'
import * as siteData from '@data/site.json'

const allPosts = await getCollection('posts')

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

const title = 'ALL TAGS'
const bodyClass = 'white grid_big'
const mainClass = 'container'
const pageDesc = siteData.description
---

<Layout
  bodyClass={bodyClass}
  pageTitle={title}
  mainClass={mainClass}
  pageDesc={pageDesc}
>
  <h2 class='h3 uppercased centered green'>
    All Tags <small>{tags.length}</small>
  </h2>
  <div class='centered'>
    {
      tags.map((tag: any) => (
        <a title={'see works tagged: ' + tag} href={`/${tag}`}>
          {tag}
        </a>
      ))
    }
  </div>
</Layout>
<style lang='scss'>
  a {
    padding-inline-end: 1rem;
    text-transform: uppercase;
    display: inline-block;
    min-height: 44px;
    line-height: 1;
    word-break: break-all;
    padding: 10px;
    margin: 10px;
    opacity: 0.75;
    color: black;
  }
  small {
    opacity: 0.5;
  }
</style>
