---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Index.astro'
import * as siteData from '@data/site.json'

const allPosts = await getCollection('posts')

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
const title = 'ALL TAGS'
const mainClass = 'container_slim'
const pageDesc = siteData.description
---

<Layout
  bodyClass=""
  pageTitle={title}
  mainClass={mainClass}
  pageDesc={pageDesc}>
  <h2 class="h3 uppercased centered green">All Tags</h2>
  <div class="centered">
    {
      tags.map((tag: any) => (
        <a
          class="taglink"
          href={`/${tag}`}
          style={'font-size: calc(' + `${tag.length}` + 'rem / 25 + .5rem) ;'}>
          {tag}
        </a>
      ))
    }
  </div>
</Layout>
<style lang="scss">
  .taglink {
    padding-right: 1rem;
    text-transform: uppercase;
    display: inline-block !important;
    min-height: 44px;
    line-height: 1;
    word-break: break-all;
    padding: 10px;
    margin: 10px;
    // border: 1px solid var(--primary);
    // border-radius: 10px;
    opacity: 0.75;
    color: black !important;
  }
  .post_count {
    //color: var(--primary-inverse);
    opacity: 0.5;
    white-space: nowrap;
  }
</style>
