---
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'

import Clients from '@components/Clients.astro'
import EditorialClients from '@components/EditorialClients.astro'
import Testimonials from '@components/Testimonials.astro'

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'about black'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const ogImage = '/og/og_about.jpg'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage={ogImage}
>
  <article class='container'>
    <h1 class='h3 container'>ABOUT ROKMA.</h1>

    <Testimonials />

    <div class='space'></div>
    <hr class='space' />

    <Clients />

    <div class='space'></div>
    <hr class='space' />

    <EditorialClients />

    <hr class='space' />

    <h2>
      <a class='bottom_link' href='/photography/'>Ready to Shine?</a>
    </h2>
  </article>
</Layout>
<style>
  article {
    padding-top: 1rem;
  }
</style>
