---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'
import * as siteData from '@data/site.json'

const featuredPosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.featured
})

const sortedFP = featuredPosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage="../og_home.jpg">
  <section class="intro">
    <div class="container">
      <h1>
        <strong>Rokma</strong> Believes your customers should understand you.
      </h1>
    </div>
  </section>

  <section class="all_works">
    <div class="container">
      <h1>
        <strong>Rokma</strong> Empowers Your Work.
      </h1>
    </div>
    <div class="posts">
      {
        sortedFP.map((post) => (
          <a class="post" href={`/${post.data.category}/${post.slug}`}>
            <Card
              title={post.data.title}
              category={post.data.category}
              image={post.data.images[0]}
            />
          </a>
        ))
      }
    </div>
  </section>

  <section>
    <div class="container">
      <h1>
        <strong>Rokma</strong> Helps You Deliver Your Message.
      </h1>
    </div>
  </section>

  <section>
    <div class="container">
      <h1>
        <strong>Rokma</strong> Makes Your Offer Recognizable.
      </h1>
    </div>
  </section>

  <section class="last">
    <div class="container">
      <h1>
        <a class="bottom_link" href="/photography/"
          >Are you ready to
          <strong> Make your light shine?</strong>
        </a>
      </h1>

      <a class="homepage_last_link" href="/about/">Know more about Rokma ></a>
    </div>
  </section>
</Layout>

<style lang="scss">
  section {
    margin-bottom: 0 !important;
    min-height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--primary_back); // fallback
    background: linear-gradient(var(--primary_back) 5%, var(--primary));
    background-blend-mode: normal;
    a {
      color: var(--primary_front);
      text-decoration: none;
    }
  }
  .all_works {
    padding-top: 5rem;
    padding-bottom: var(--spacing);
  }
  :global(.posts) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
    @media (min-width: 701px) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
  :global(.post) {
    //a
    text-decoration: none;
    position: relative;
    z-index: 1;
  }
</style>
