---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'
import * as siteData from '@data/site.json'

const showcasePosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.home
})

const sortedFP = showcasePosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage='../og_home.jpg'
>
  <section class='intro'>
    <div class='container'>
      <h1 title='Rokma Believes your customers should understand you.'>
        Imagine the <strong>peace of mind</strong> of a streamlined workflow and
        more free time.
      </h1>
    </div>
  </section>

  <section class='all_works'>
    <div class='container'>
      <h1 title='Rokma Empowers Your Work.'>
        Picture customers effortlessly <strong>
          embracing your brand dream
        </strong>
        .
      </h1>
    </div>

    <div class='posts container'>
      {
        sortedFP.map((post) => (
          <a class='post' href={`/${post.data.category}/${post.slug}`}>
            <Card
              title={post.data.title}
              category={post.data.category}
              image={post.data.images[0]}
            />
          </a>
        ))
      }
    </div>

    <div class='container'>
      <br />
      <label for='nav'>See more works ></label>
    </div>
  </section>

  <section>
    <div class='container'>
      <h1 title='Rokma helps You Deliver Your Message.'>
        Narration is ancient... Greek Philosophers discussed symbols. Kings
        hired Poets. Verbs and figures of speech where instituted. <br /><br />
        Today... Medias make markets and trends. Science is based on 'Papers'. Memes
        are shifting electorates. <br /><br />
        Efficent Brand Communication makes a huge difference.
      </h1>
    </div>
  </section>

  <section>
    <div class='container'>
      <h1 title='Rokma Makes Your Offer Recognisable.'>
        Linguistic expertise can make your offer recognisable. <br />
        In today market it's paramount to budget that.
      </h1>
    </div>
  </section>

  <section class='last'>
    <div class='container'>
      <h1>
        <a
          title='Ready to Make your light shine?'
          class=''
          href='/photography/'
        >
          Rokma started publishing in the 80s. Helping business improve
          storytelling, create brand identity and narratives, ever since.
        </a>
      </h1>

      <div>
        <label for='nav'>Know more about Rokma</label>
      </div>
    </div>
  </section>
</Layout>

<style lang='scss'>
  h1 {
    font-size: 200%;
    font-weight: 200;
    line-height: 1;
    padding: 10dvh 0;
    word-break: keep-all;

    // [data-theme='light'],
    // :root:not([data-theme='dark']) {
    //   color: red ;
    // }
  }
  label {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
</style>
