---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'
import * as siteData from '@data/site.json'

const showcasePosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.home
})

const sortedFP = showcasePosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage='../og_home.jpg'
>
  <section class='intro'>
    <div class='container'>
      <h1>
        <strong>Rokma</strong> Believes your customers should understand you.
      </h1>
    </div>
  </section>

  <section class='all_works'>
    <div class='container'>
      <h1>
        <strong>Rokma</strong> Empowers Your Work.
      </h1>
    </div>

    <div class='posts container'>
      {
        sortedFP.map((post) => (
          <a class='post' href={`/${post.data.category}/${post.slug}`}>
            <Card
              title={post.data.title}
              category={post.data.category}
              image={post.data.images[0]}
            />
          </a>
        ))
      }
    </div>

    <div class='container'>
      <br />
      <label for='nav'>See more works ></label>
    </div>
  </section>

  <section>
    <div class='container'>
      <h1>
        <strong>Rokma</strong> Helps You Deliver Your Message.
      </h1>
    </div>
  </section>

  <section>
    <div class='container'>
      <h1>
        <strong>Rokma</strong> Makes Your Offer Recognisable.
      </h1>
    </div>
  </section>

  <section class='last'>
    <div class='container'>
      <h1>
        <a class='' href='/photography/'
          >Ready to Make <strong>your light</strong> shine?</a
        >
      </h1>

      <div>
        <label for='nav'>Know more about Rokma ></label>
      </div>
    </div>
  </section>
</Layout>

<style lang='scss'>
  h1 {
    font-size: 200% !important;
    font-weight: 200 !important;
    line-height: 1 !important;
    padding: 10dvh 0;
    color: white !important;

    [data-theme='light'],
    :root:not([data-theme='dark']) {
      color: red !important;
    }
  }
</style>
