---
import Layout from '@layouts/Layout.astro'

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageTLDR = 'Flexible Communication Design Service for small companies.'
---

<Layout
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageTitle={pageTitle}
  pageTLDR={pageTLDR}
  ogImage="../og_home.jpg">
  <main class={mainClass}>
    <h1>ROKMA</h1>
  </main>
</Layout>
