---
import Layout from '@layouts/Index.astro'
import Card from '@components/Card.astro'
import Underline from '@components/Underline.astro'
import * as siteData from '@data/site.json'

import { getCollection } from 'astro:content'
const showcasePosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.home
})
const sortedFP = showcasePosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const ogImage = '/og/og_home.jpg'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage={ogImage}
>
  <section class='intro why full_height hero'>
    <div class='container'>
      <h1 title='Rokma Believes your customers should understand you.'>
        <p>
          Imagine the advantages of a well thought <strong>
            brand narrative.
          </strong>
        </p>
        <p>
          Imagine the <strong>peace of mind</strong> of having expert help and more
          free time.
        </p>
        <p>
          Picture customers effortlessly <strong>embracing your brand.</strong>
        </p>
      </h1>
    </div>
  </section>

  <section class='how full_height hero'>
    <div class='container'>
      <h1 title='Rokma helps You Deliver Your Message.'>
        <p><strong>Efficent Communication</strong> makes a huge difference.</p>
        <p>A clear <strong>brand message</strong> delivers.</p>
        <p>
          Visual discourse and Linguistic expertise can make <strong>
            your offer recognizable.
          </strong>
        </p>
        <p><strong>Budget</strong> that and <strong>delegate.</strong></p>
      </h1>
    </div>
  </section>

  <section class='last what full_height hero'>
    <div class='container'>
      <h1 title='Ready to Make your light shine?'>
        <p>
          Rokma helps business <strong>build narratives</strong> and create <strong
          >
            brand identity.
          </strong>
        </p>
        <p>Rokma started publishing in the 80s.</p>

        <p><strong>Empower your work.</strong> Get the help you deserve!</p>
      </h1>
    </div>
  </section>

  <section class='all_works'>
    <div class='container'>
      <h1 title='See a selection of Rokma Works.'>Have a look.</h1>

      <div class='posts container'>
        {
          sortedFP.map((post) => (
            <a class='post' href={`/${post.data.category}/${post.slug}`}>
              <Card
                title={post.data.title}
                category={post.data.category}
                image={post.data.images[0]}
              />
            </a>
          ))
        }
      </div>

      <div class='space'></div>

      <div class='container center grid'>
        <span role='button'><label for='nav'>See more works</label></span>
        <a
          role='button'
          title='Ready to Make your light shine?'
          class=''
          href='/about/'
        >
          Know more about Rokma
        </a>
      </div>
    </div>
  </section>

  <style>
    h1 {
      text-transform: uppercase;
      word-break: keep-all;
    }

    h1,
    h1 p {
      font-weight: 200;
    }

    label {
      cursor: pointer;
    }
    :global(header) {
      display: none;
    }
  </style>
</Layout>
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function () {
      navigator.serviceWorker.register('/sw.js').then(
        function (registration) {
          console.log(
            'ServiceWorker registration successful with scope: ',
            registration.scope
          )
        },
        function (err) {
          console.log('ServiceWorker registration failed: ', err)
        }
      )
    })
  }
</script>
<Underline />
