---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'

const featuredPosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.featured
})

const sortedFP = featuredPosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  title: string
  year: number
  category: string
  ogImage?: string
  bodyClass: string
  mainClass: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageTLDR = 'Flexible Communication Design Service for small companies.'
---

<Layout
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageTitle={pageTitle}
  pageTLDR={pageTLDR}
  ogImage="../og_home.jpg">
  <main class={mainClass}>
    <div class="wrap phrase1">
      <div class="masthead">
        <div class="container content">
          <h1 class="masthead-title" data-sr="enter right move 4500px">
            Rokma
            <span class="tagline"
              >Believes your customers should understand you.</span
            >
          </h1>
        </div>
      </div>
    </div>

    <div class="wrap all_works index">
      <div class="container content">
        <h1 class="masthead-title" data-sr="enter right move 2000px">
          Rokma
          <span class="tagline">Empowers Your Work.</span>
        </h1>
        {
          sortedFP.map((post) => (
            <a class="card_link" href={`/${post.data.category}/${post.slug}`}>
              <Card
                title={post.data.title}
                image={post.data.images[0]}
                category={post.data.category}
              />
            </a>
          ))
        }
      </div>
    </div>

    <div class="wrap phrase2">
      <div class="container content">
        <h1 class="masthead-title" data-sr="enter right move 2000px">
          Rokma
          <span class="tagline">Helps You Deliver Your Message.</span>
        </h1>
      </div>
    </div>

    <div class="wrap phrase3">
      <div class="container content">
        <h1 class="masthead-title" data-sr="enter left move 2000px">
          Rokma
          <span class="tagline">Makes Your Offer Recognizable.</span>
        </h1>
      </div>
    </div>

    <div class="wrap last">
      <div class="container content">
        <h1 class="masthead-title" data-sr="enter right move 2000px">
          <span class="tagline">
            <a class="homepage_bottom_link" href="/photography/"
              ><strong>Now...</strong><br />Let the light shine.</a
            >
          </span>
        </h1>
        <div
          class="masthead-title small underline_on_hover"
          data-sr="wait 2s, enter left move 2000px">
          <a class="homepage_last_link" href="/about/"
            >Know more about Rokma ></a
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
<style lang="scss">
  .wrap {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    background: linear-gradient(var(--primary-inverse2) 15%, var(--primary));
    background-blend-mode: normal;
  }
  .all_works {
    padding-top: 5rem;
  }
</style>
