---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'
import * as siteData from '@data/site.json'

const showcasePosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.showcased
})

const sortedFP = showcasePosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage='../og_home.jpg'
>
  <section class='intro container'>
    <div class='container'>
      <h1>
        <strong>Rokma</strong> Believes your customers should understand you.
      </h1>
    </div>
  </section>

  <section class='all_works'>
    <div class='container'>
      <h1 class='container'>
        <strong>Rokma</strong> Empowers Your Work.
      </h1>
    </div>
    <div class='posts container'>
      {
        sortedFP.map((post) => (
          <a class='post' href={`/${post.data.category}/${post.slug}`}>
            <Card
              title={post.data.title}
              category={post.data.category}
              image={post.data.images[0]}
            />
          </a>
        ))
      }
    </div>

    <div class='container centre'>
      <br />
      <label for='nav'>See more works ></label>
    </div>
  </section>

  <section>
    <div class='container'>
      <h1 class='container'>
        <strong>Rokma</strong> Helps You Deliver Your Message.
      </h1>
    </div>
  </section>

  <section>
    <div class='container'>
      <h1 class='container'>
        <strong>Rokma</strong> Makes Your Offer Recognizable.
      </h1>
    </div>
  </section>

  <section class='last'>
    <div class='container'>
      <h1 class='container'>
        <a class='bottom_link' href='/photography/'
          >Ready to
          <strong> Make your light shine?</strong>
        </a>
      </h1>

      <div class='container'>
        <label for='nav'>Know more about Rokma ></label>
      </div>
    </div>
  </section>
</Layout>

<style lang='scss'>
  section {
    margin-bottom: 0 !important;
    min-height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: white; // fallback
    background: linear-gradient(white 5%, var(--gold));
    background-blend-mode: normal;
    a {
      color: var(--primary_front);
      text-decoration: none;
    }
    &.intro {
      margin-top: 3rem;
      min-height: calc(100dvh - 3rem);
    }
  }
  .all_works {
    padding-top: 5rem;
    padding-bottom: var(--block-spacing-vertical);
  }

  .last {
    label {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        text-underline-position: under;
        text-underline-offset: -0.75ex;
        text-decoration-thickness: 0.75ex;
        text-decoration-skip-ink: none;
        text-decoration-color: hsla(39, 100%, 50%, 0.35);
      }
    }
    .container h1 {
      margin-bottom: 0;
      &:hover {
        text-decoration: underline;
        text-underline-position: under;
        text-underline-offset: -0.75ex;
        text-decoration-thickness: 0.75ex;
        text-decoration-skip-ink: none;
        text-decoration-color: hsla(39, 100%, 50%, 0.35);
      }
    }
  }
</style>
