---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'
import * as siteData from '@data/site.json'

const showcasePosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.home
})

const sortedFP = showcasePosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toString()) - Date.parse(a.data.year.toString())
)

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage='../og_home.jpg'
>
  <section class='intro'>
    <div class='container'>
      <h1 title='Rokma Believes your customers should understand you.'>
        Envision having the peace of mind of a streamlined workflow and more
        free time.
      </h1>
    </div>
  </section>

  <section class='all_works'>
    <div class='container'>
      <h1 title='Rokma Empowers Your Work.'>
        What if customers, staff and externals could understand your brand offer
        with no effort.
      </h1>
    </div>

    <div class='posts container'>
      {
        sortedFP.map((post) => (
          <a class='post' href={`/${post.data.category}/${post.slug}`}>
            <Card
              title={post.data.title}
              category={post.data.category}
              image={post.data.images[0]}
            />
          </a>
        ))
      }
    </div>

    <div class='container'>
      <br />
      <label for='nav'>See more works ></label>
    </div>
  </section>

  <section>
    <div class='container'>
      <h1 title='Rokma helps You Deliver Your Message.'>
        Narration is ancient. Kings hired Poets. Philosophy juggled logos.
        Religions instituted verbs, books, dramas, and figures of speech.
        <br /><br />
         Medias made markets and tends. Science is based on 'Papers'. Memes are
        shifing electorates. <br /><br /> Efficent communication makes a huge
        diffence for a Brand.
      </h1>
    </div>
  </section>

  <section>
    <div class='container'>
      <h1 title='Rokma Makes Your Offer Recognisable.'>
        Narrative expertise can make your offer recognisable. <br /><br />In
        today market it is paramount to budget that.
      </h1>
    </div>
  </section>

  <section class='last'>
    <div class='container'>
      <h1>
        <a
          title='Ready to Make your light shine?'
          class=''
          href='/photography/'
        >
          Rokma started publishing in 1980, and has been helpeing business
          improve storytelling, brand identity and narratives ever since.
        </a>
      </h1>

      <div>
        <label for='nav'>Know more about Rokma</label>
      </div>
    </div>
  </section>
</Layout>

<style lang='scss'>
  h1 {
    font-size: 200% !important;
    font-weight: 200 !important;
    line-height: 1 !important;
    padding: 10dvh 0;

    [data-theme='light'],
    :root:not([data-theme='dark']) {
      color: red !important;
    }
  }
</style>
