---
import { Icon } from 'astro-icon'
import * as siteData from '@data/site.json'
---

<div class='social_icons'>
  <a
    href={siteData.github}
    title={siteData.github + ' on Github'}
    target='_blank'
  >
    <Icon name='github' />
  </a>

  <a
    href={siteData.twitter}
    title={siteData.twitter + ' on Twitter'}
    target='_blank'
  >
    <Icon name='twitter' />
  </a>
  <a
    href={'mailto:' + siteData.email}
    title={'Best way to contact ' + siteData.title + ' ! Quick old e-mail'}
    target='_blank'
  >
    <Icon name='email' />
  </a>

  <a
    href={siteData.facebook}
    title={siteData.github + ' on Facebook'}
    target='_blank'
  >
    <Icon name='facebook' />
  </a>

  <a
    href={siteData.instagram}
    title={siteData.instagram + ' on Instagram'}
    target='_blank'
  >
    <Icon name='instagram' />
  </a>

  <a
    href={siteData.soundcloud}
    title={siteData.soundcloud + ' on Soundcloud'}
    target='_blank'
  >
    <Icon name='soundcloud' />
  </a>
</div>

<style>
  svg {
    width: 42px;
    padding: 2px;
    color: white;
  }
  .social_icons a:hover svg {
    color: var(--text-decoration-color--nav);
  }
  .social_icons a:focus {
    --background-color: transparent;
  }
</style>
