---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Card from '@components/Card.astro'

const category = 'advertising'

const unsortedPosts = await getCollection('posts', ({ data }) => {
  return data.draft !== true && data.category == category
})

const posts = unsortedPosts.sort(
  (a, b) =>
    Date.parse(b.data.year.toLocaleString()) -
    Date.parse(a.data.year.toLocaleString())
)

export interface Props {
  pageTitle: string
  year: number
  category: string
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

import siteData from '@data/site.json'
const bodyClass = category
const ogImage = '../assets/p/og_large_image.jpg'
const mainClass = 'container'
const pageDesc = ''
---

<Layout
  pageTitle={category.toUpperCase()}
  pageDesc={pageDesc}
  bodyClass={bodyClass}
  mainClass={mainClass}
  ogImage={ogImage}>
  <h2 class="h3 uppercased centered green">{category}</h2>
  <div class="container posts">
    {
      posts.map((post) => (
        <a class="post" href={`/${category}/${post.slug}`}>
          <Card
            title={post.data.title}
            category={post.data.category}
            image={post.data.images[0]}
          />
        </a>
      ))
    }
  </div>
</Layout>
<style lang="scss">
  .posts {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .post {
    text-decoration: none;
  }
</style>
