---
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'

export interface Props {
  pageTitle: string
  category?: string | undefined
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const { pageTitle, category, mainClass, bodyClass, ogImage, pageDesc } =
  Astro.props
---

<Layout
  pageTitle={pageTitle}
  pageDesc={pageDesc}
  bodyClass={bodyClass}
  mainClass={mainClass}
  ogImage={ogImage}
>
  <h1 slot='header' class='container'>
    <a class='post' href='/'>{siteData.title}</a>
    <div>{category}</div>
  </h1>
  <hr slot='header' />

  <slot name='header' slot='header' />

  <div class='content'>
    <slot />
  </div>

  <blockquote slot='footer'><span>"</span> <span>{pageDesc}</span></blockquote>
</Layout>
<style lang='scss'>
  section {
    min-height: 100svh;
  }
</style>
