---
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'

export interface Props {
  pageTitle: string
  category?: string | undefined
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const { pageTitle, category, mainClass, bodyClass, ogImage, pageDesc } =
  Astro.props
---

<Layout
  pageTitle={pageTitle}
  pageDesc={pageDesc}
  bodyClass={bodyClass}
  mainClass={mainClass}
  ogImage={ogImage}
>
  <div class='uppercase' slot='header'>
    <a class='title' href='/'>
      <h1>{siteData.title}</h1>
    </a>
    <a href={'/' + category + '/'}>
      <h2>{category}</h2>
    </a>
  </div>

  <div class='content'>
    <slot />
  </div>

  <blockquote slot='footer'>
    <span>"</span>
    <span>{pageDesc}</span>
  </blockquote>
</Layout>
<style is:global>
  h1 {
    margin-block-end: 0;
    padding-block-end: 0;
  }
  h2 {
    margin-block-start: 0;
    padding-block-start: 0;
  }

  .slide {
    margin-block: 0;
    margin-inline: 0;
    margin-block-end: var(--spaceTB);
    border-radius: var(--radius);
  }

  .posts,
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    grid-gap: 10px;

    @media (min-width: 701px) {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      padding-block-start: 2rem;
      padding-block-end: 2rem;
    }
  }

  .grid .slide {
    margin: 0;
  }

  .all_posts .post {
    display: block;

    .card:has(h2) {
      margin-block-start: 0;
    }
  }

  .grid .images {
    display: block;

    @media (min-width: 320px) {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    .slide {
      margin: 0;
    }
  }
</style>
