---
import '@fiko/fiko.css'
import ROKMA from '@components/ROKMA.astro'
import Footer from '@components/Footer.astro'
import Nav from '@components/Nav.astro'
import * as siteData from '@data/site.json'
import * as repoData from 'package.json'
import ThemeProvider from '@components/ThemeProvider.astro'
import AppendToCopyAction from '@scripts/AppendToCopyAction.astro'
import GoogleAnalytics from '@scripts/GoogleAnalytics.astro'
import ExternalLink from '@scripts/ExternalLink.astro'

export interface Props {
  pageTitle: string
  pageDesc: string
  ogImage?: string
  bodyClass: string
  mainClass: string
}

const { pageTitle, pageDesc, ogImage, bodyClass, mainClass } = Astro.props

const makeTitle = siteData.title + ' | ' + pageTitle.toLocaleUpperCase()
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang='en'>
  <head>
    <ROKMA />
    <meta charset='UTF-8' />
    <title>{makeTitle}</title>
    <meta name='version' content={repoData.version} />
    <meta name='description' content={pageDesc} />
    <meta name='viewport' content='width=device-width' />
    <!-- necessary for them toggle to work: -->
    <meta content='' name='theme-color' />
    <!-- <meta name='color-scheme' content='light dark' /> -->

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='apple-mobile-web-app-title' content={siteData.title} />
    <meta name='application-name' content={siteData.title} />
    <link rel='canonical' href={canonicalURL} />

    <!-- ROKS OG -->
    <meta property='og:url' content={Astro.site} />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={makeTitle} />
    <meta property='og:description' content={pageDesc} />
    <meta property='og:image' content={ogImage} />

    <!-- ROKS TWITTER -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.site} />
    <meta name='twitter:title' content={makeTitle} />
    <meta name='twitter:description' content={pageDesc} />
    <meta name='twitter:image' content={ogImage} />

    <slot name='head' />
  </head>
  <body class={bodyClass}>
    <ThemeProvider />
    <Nav />
    <header class='container'>
      <slot name='header' />
    </header>
    <main class={mainClass}>
      <slot name='images' />
      <slot />
    </main>

    <Footer />
    <AppendToCopyAction />
    <GoogleAnalytics />
    <ExternalLink />
    <style>
      :root {
        --gray: rgb(229, 228, 226);
        --lightgray: rgb(238, 238, 238);
        --darkgray: rgb(212, 212, 212);
        --offwhite: rgb(230, 230, 230);
        --offwhite_inverse: hsl(0, 0%, 55%);
      }
      [data-theme='light'] body.gray {
        background-color: var(--gray);
        --currentTXTcolor: black;
        color: var(--currentTXTcolor);
      }
      /* lightgray */
      [data-theme='light'] body.lightgray {
        background-color: var(--lightgray);
        --currentTXTcolor: black;
        color: var(--currentTXTcolor);
      }
      /* darkgray */
      [data-theme='light'] body.darkgray {
        background-color: var(--darkgray);
        --currentTXTcolor: black;
        color: var(--currentTXTcolor);
      }
      /* offwhite */
      [data-theme='light'] body.offwhite {
        background-color: var(--offwhite);
        --currentTXTcolor: black;
        color: var(--currentTXTcolor);
      }
      [data-theme='dark'] body.offwhite {
        background-color: var(--offwhite_inverse);
        --currentTXTcolor: var(--offwhite);
        color: var(--currentTXTcolor);
      }

      body.white {
        background-color: white;
        --currentTXTcolor: black;
        color: var(--currentTXTcolor);
      }
      [data-theme='dark'] {
        --currentTXTcolor: white;
        color: var(--currentTXTcolor);
      }
    </style>
  </body>
</html>
