---
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'
import Slide from '@components/Slide.astro'

const { title, category, images, tags } = Astro.props.frontmatter || Astro.props

const pageDesc = siteData.description_web
---

<Layout
  pageTitle={title}
  pageDesc={pageDesc}
  mainClass='container'
  bodyClass={category}
  ogImage={images[0]}
>
  <div class='container uppercase' slot='header'>
    <a class='post' href='/'>{siteData.title}</a>&nbsp;
    <a class='post' href={`/${category}/`}>{category}</a>

    <h1>{title}</h1>
  </div>
  <hr slot='header' />

  <div slot='images' class='images'>
    {
      images.map((i: string) => {
        return <Slide p={i} alt='g' quality='high' cssClass='slide' />
      })
    }
  </div>

  <div class='content'>
    <ul class='tags'>
      {
        tags.map((tag: string) => {
          return (
            <li>
              <a class='' href={`/${tag}/`}>
                {tag}
              </a>
            </li>
          )
        })
      }
    </ul>
    <slot />
  </div>

  <p slot='footer'>SEE MORE</p>
</Layout>
<style lang='scss'>
  h1 {
    margin-bottom: 1rem !important;
  }
  hr {
    margin-top: 0 !important;
  }
  .tags {
    max-width: none !important;
    li {
      display: inline-block;
      padding-right: 1rem;
      text-transform: uppercase;
    }
  }

  .post_content ul li {
    list-style-type: none !important;
  }

  :global(.slide) {
    //global otherwise doesnt work!
    margin: 1rem 0;
    border-radius: var(--radius);
  }
</style>
