---
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'
import Slide from '@components/Slide.astro'
import Icon from 'astro-icon'

const { title, category, images, tags, bodyClass } =
  Astro.props.frontmatter || Astro.props

const pageDesc = siteData.description_web
---

<Layout
  pageTitle={title}
  pageDesc={pageDesc}
  mainClass='container'
  bodyClass={category + ' ' + bodyClass}
  ogImage={images[0]}
>
  <div class='container uppercase' slot='header'>
    <a class='breadcrumb' href='/'>{siteData.title}</a><span class='shift'
      >></span
    >
    <a class='breadcrumb' href={`/${category}/`}>{category}</a>

    <h1>{title}</h1>
  </div>
  <hr slot='header' />

  <div slot='images' class='images'>
    {
      images.map((i: string) => {
        return <Slide p={i} alt='g' quality='high' cssClass='slide' />
      })
    }
  </div>

  <div class='content'>
    <div class='tag_section'>
      <Icon name='tag' class='gray' />
      <ul class='tags'>
        {
          tags.map((tag: string) => {
            return (
              <li>
                <a class='' href={`/${tag}/`}>
                  {tag}
                </a>
              </li>
            )
          })
        }
      </ul>
    </div>
    <slot />
  </div>
</Layout>
<style lang='scss'>
  h1 {
    margin-bottom: 1rem !important;
    max-width: calc(100vw - 100px);
  }
  hr {
    margin-top: 0 !important;
  }
  .tags {
    padding-top: var(--typography-spacing-vertical);
    max-width: none !important;
    li {
      display: inline-block;
      padding-right: 1rem;
      text-transform: uppercase;
    }
  }

  .post_content ul li {
    list-style-type: none !important;
  }

  .shift {
    position: relative;
    bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    color: var(--primary);
  }

  .tag_section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: var(--typography-spacing-vertical);
  }

  svg.gray {
    min-width: 55px;
    width: 55px;
    color: var(--primary);
    opacity: 0.5;
    padding-top: 38px;
  }
</style>
